### Encoding

***Encoding*** = Process of converting categorical (non-numeric) data into numeric form.

#### We have two types of data i.e:
1. ***Nominal Data*** => Categories without any inherent order or ranking.
Eg: Gender ,  City  , Hair Color

2. ***Ordinal Data*** => Categories with a natural order or ranking. Eg: Education Level , Satisfaction , Shirt Size

### Types of encoding
1. **Label Encoding** => Assigns a unique integer to each category.

*Example*: 

Gender → Male=0, Female=1, Other=2

- ***Best for ordinal data.***

- ***Bad for nominal data.***



<hr>

2. **One-Hot Encoding** => Creates a new binary column for each category.

*Example*: 

City → [Kathmandu, Delhi, Tokyo]

Kathmandu = [1,0,0]  
Delhi     = [0,1,0]  
Tokyo     = [0,0,1]

- ***Best for nominal data.***
<hr>

3. **Ordinal Encoding** => Used when categories have an order (rank).

*Example* : 

Education: {"High School": 1, "Bachelor": 2, "Master": 3, "PhD": 4}